@import "tailwindcss";

@theme {
  --color-rabbit-red: #202024;
}

#root {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Hide scrollbar for WebKit browsers (Chrome, Safari, Edge) */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
